@font-face {
  font-family: "PlusJakartaSans-Medium";
  src: url(../../assets/fonts/static/PlusJakartaSans-Medium.ttf)
    format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url(../../assets/fonts/static/PlusJakartaSans-ExtraBold.ttf)
    format("truetype");
  font-weight: bold;
}

// Font
$mediumFont: "PlusJakartaSans-Medium";
$boldFont: "PlusJakartaSans-Bold";

// Color
$primaryColor: #083078;
$secondaryColor: #f6fafd;

$dotColor: #ef5857;

$backgroundColor: lighten(#e7f5ff, 3%);

$gray: #dee2e6;
$white: #fff;
$black: #333;

// Queries
$mobile: 375px;
// $tablet: 768px;
$desktop: 1440px;
